<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Functions</title>
</head>
<body>
    <div class="out-1"></div>
    <button>button</button>
    <div class="out-11"></div>
    <div class="out-12"></div>
    <img src="../public/Certified partner Banner.jpg" alt="ffff">
</body>
</html>